/.project
/.classpath
/.factorypath
./target
./target/*
*.class
.settings

audioDomain/.classpath
audioDomain/.factorypath
audioDomain/.project
audioDomain/target

audioService/.project
audioService/target
audioService/target/*
audioService/src/main/resources/application.properties
audioService/.attach_pid*
audioService/.classpath
audioService/.factorypath
audioService/.project
